body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #87C287 !important;
    /*background-size: 70%;*/
}

.selectResin, .form-control, .selectZIP {
  margin: 10px;
}

a {
  color: #00B7FF;
}

.content {
  background-color: #C4F3BD !important;
}

.jumbotron {
  background-image: url("../images/recycling-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center !important;
  background-color: #C4F3BD !important;
  opacity: 0.8;
  text-align: center;
  height: 550px !important;
  overflow-y: auto !important;
}

.selectResin, .buttons, .popupText, .recycle_info {
  text-align: center;
}

.selectResin > p {
  font-weight: bold;
}

.form-control {
  width: 100px !important;
  max-width: 100px !important;
  height: auto;
  display: inline-block !important;
}

.popup {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.popup-image {
  height: auto;
  width: auto;
  display: block;
  max-height: 300px;
  max-width: 300px;
  z-index: 100;
  position: fixed;
}

.popupText {
  font-size: 10px;
}

.content {
  margin-top: 50px;
  text-align: center;
}

.resin-pic {
  height: 450px;
  weight: 450px;
}