body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../images/recycling-logo.png");
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: 70%;
}

.selectResin, .form-control, .selectZIP {
  margin: 10px;
}

a {
  color: #00B7FF;
}

.jumbotron {
  /*background-color: #FFF !important;*/
  opacity: 0.8;
  text-align: center;
}

.selectResin, .buttons, .recycle_info {
  text-align: center;
}

.form-control {
  display: inline !important;
  width: 10% !important;
}
.popup {
    position: absolute;
}
