body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../images/recycling-logo.png");
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: 70%;
}

a {
  color: #00B7FF;
}

.jumbotron {
  /*background-color: #FFF !important;*/
  opacity: 0.8;
  text-align: center;
}
