<!DOCTYPE html>
<html ng-app="recycleApp">
  <head>
    <title>Recycle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="../../stylesheets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      <script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
      <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
      <script src="../../javascripts/homeController.js"></script>

  </head>


  <body ng-controller="InfoCtrl">

    <div class="container">
      <div class="jumbotron">
          <h1>Can I Recycle This?</h1>
          <p>Set the RIC code and zip code to find out if your plastic product is recyclable in your community!</p>
      </div>

    <div class="content">

          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#RICModal">What is a RIC number?</button>
          <div id="RICModal" class="modal fade" role="dialog">
                <div class="modal-dialogue">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Look for the RIC number on your plastics, surrounded by recycle symbol</p>
                            <img class="resin-pic" src="../images/ric_codes.jpg">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
          </div>

      <!--<div class="popupText" ng-mouseover="showPopup()" ng-mouseleave="hidePopup()">-->
          <!--What is an RIC code? TEST-->
      <!--</div>-->
      <!--<div class="popup" ng-show="popupIsVisible">-->
          <!--An RIC code can be found on plastics within the universal recycling symbol-->
         <!--<p> <img class="popup-image" src="../images/ric_codes.jpg"></p>-->
      <!--</div>-->

        <div class ="selectResin">
            <p>Select a resin number to get recycling information:
                <select ng-options="resin for resin in resins" ng-model="resin.number"></select>
            </p>
        </div>

      <div class="recycle_info">

        <div class="selectZIP">
            <p>Input a ZIP code to find out if this resin # is recyclable in your county</p>
            <input class="form-control" ng-model="resin.location" placeholder="ZIP">
        </div>

        <div class="buttons">
            <button class="btn btn-default" ng-click="getInfo()">Can I Recycle Resin # {{resin.ID}}??</button>
        </div>

          <div class="results" ng-show="searched">
              <div class="pass" ng-show="searchPass">
                <p>"Yes, you CAN recycle this in your zip code!</p>
                <p>{{centerAddress.address}}</p>
                <p>{{centerAddress.city}}, WA {{centerAddress.zipcode}}</p>
              </div>
              <div class="fail" ng-hide="searchPass">
                  <p>No, sorry, your zip code does not recycle this RIC</p>
              </div>
          </div>
    </div>
    </div>
    </div>

  </body>


</html>
